@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,800&family=Urbanist:wght@100;900&display=swap');


.brand{
    font-family: 'Urbanist', sans-serif;
}

.sale-image {
    display: none;
}

@media only screen and (max-width: 1500px) {
    
    .sale-image {
        display: block;
    }
    
    #top-section-carousel {
        display: none;
    }
}